apiVersion: 1

datasources:
  - name: EventosDB
    type: postgres
    access: proxy
    url: localhost:5432
    database: ciudades
    user: <usuario>
    secureJsonData:
      password: <password>
    jsonData:
      sslmode: disable
      postgresVersion: 1500
      timescaledb: false
    isDefault: true
    editable: true
