analytics/grafana/provisioning/datasources/postgres.yml
analytics/grafana/provisioning/datasources/elasticsearch.yml

# Personal technical documentation (not for public repo)
docs/INGESTOR_TECHNICAL_GUIDE.md
arquitectura.png
mops/Guia.md
scripts/scripts.png 
scripts/topics.png
docs/GUÍA_PRUEBAS_FASE1.md
docs/GUÍA_GIT_WORKFLOW.md


docs/guia-ingestor.md
docs/guia-correlator-grafana.md

# Build artifacts
target/
*.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE files
.idea/
*.iws
*.iml
*.ipr
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Docker volumes (if any)
docker-volumes/



# Archivos de entorno (no subir credenciales reales)
*.env
*/.env
*/**/.env

# Archivos generados en Analytics
analytics/dags/__pycache__/
analytics/airflow_data/*.bak
analytics/airflow_data/*.pid
analytics/airflow_data/logs/
analytics/airflow_data/airflow.db
airflow_data/airflow.cfg