#Variables de entorno para el servicio Correlator
SPRING_KAFKA_BOOTSTRAP_SERVERS=example:9092
SPRING_REDIS_HOST=example-redis
SPRING_REDIS_PORT=6379
SPRING_DATASOURCE_URL=jdbc:postgresql://example-postgres:5432/ciudades
SPRING_DATASOURCE_USERNAME=postgres_user
SPRING_DATASOURCE_PASSWORD=password_here
KAFKA_TOPIC_CORRELATED_ALERTS=c
